.App {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  color: #d73953;
  font-size: calc(10px + 2vmin);
  align-items: center;
  text-align: center;
}

.App-body {
  display: flex;
  justify-content: left;
  font-size: calc(7px + 2vmin);
  padding-left: 50px;
  padding-top: 40px;
  min-height: 70vh;
  border-top: #d73953 4px solid;
}

.App-footer {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  font-style: italic;
  border-top: #d73953 4px solid;
}